<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
html
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		style(type="text/css")
			include media.css
	body
		table(width="100%" border="0" cellpadding="0" cellspacing="0")
			tr
				td(align="center" valign="middle" bgcolor="#262626" style="background-color: #262626")
					table(width="600" border="0" cellpadding="0" cellspacing="0")
						tr
							td(align="left" valign="middle" style="padding-top:40px; padding-bottom:20px; padding-left:30px; color:#ffffff; font-size: 24px; font-family: Tahoma, 'Times New Roman', Times, serif")
								span 
									B INDUSTRY
								span &nbsp;CONFERENCE
						tr
							td(align="left" valign="middle" style="padding-bottom:20px; padding-left:36px; color:#ffffff; font-size: 44px; font-family: Tahoma, 'Times New Roman', Times, sans-serif") The most anticipated industry event of the year is back!
						tr
							td(align="left" valign="middle" style="padding-bottom:30px; padding-left:36px; color:#ffffff; font-size: 18px; font-family: Tahoma, 'Times New Roman', Times, sans-serif; line-height: 1.5em; letter-spacing: 0.1em")
								i Digital Marketing Conference is an exciting event where you can meet and network with the best marketers in the industry.
						tr
							td(align="left" valign="middle" bgcolor="#DD582B")
								tr
									td(align="left" height="50px" width="70%" valign="middle" bgcolor="#DD582B" style="padding-top:30px; padding-bottom:30px; padding-left:40px; color:#ffffff; font-size: 20px; font-family: Tahoma, 'Times New Roman', Times, serif") 
										b Inspiring keynotes
									td(align="center" height="50px" valign="middle" bgcolor="#DD582B" style="padding-top:10px; padding-bottom:10px; padding-left:40px; color:#ffffff; font-size: 20px; font-family: Tahoma, 'Times New Roman', Times, serif")
										img(src="img/logo1.png" alt="logos" width="68" height="auto")
								tr
									td(align="left" height="50px" width="70%" valign="middle" bgcolor="#FEBF00" style="padding-top:10px; padding-bottom:10px; padding-left:40px; color:#ffffff; font-size: 20px; font-family: Tahoma, 'Times New Roman', Times, serif")
										b  Bring ideas
									td(align="center" height="50px" valign="middle" bgcolor="#FEBF00" style="padding-top:10px; padding-bottom:10px; padding-left:40px; color:#ffffff; font-size: 20px; font-family: Tahoma, 'Times New Roman', Times, serif")
										img(src="img/logo2.png" alt="logos" width="68" height="auto")
								tr
									td(align="left" height="50px" width="70%" valign="middle" bgcolor="#098FFF" style="padding-top:10px; padding-bottom:10px; padding-left:40px; color:#ffffff; font-size: 20px; font-family: Tahoma, 'Times New Roman', Times, serif")
										b  Workshops with experts
									td(align="center" height="50px" valign="middle" bgcolor="#098FFF" style="padding-top:10px; padding-bottom:10px; padding-left:40px; color:#ffffff; font-size: 20px; font-family: Tahoma, 'Times New Roman', Times, serif")
										img(src="img/logo3.png" alt="logos" width="68" height="auto") 
								tr
									td(align="left" height="50px" width="70%" valign="middle" bgcolor="#10AE18" style="padding-top:10px; padding-bottom:10px; padding-left:40px; color:#ffffff; font-size: 20px; font-family: Tahoma, 'Times New Roman', Times, serif")
										b  Netwoeking opportunitieseas
									td(align="center" height="50px" valign="middle" bgcolor="#10AE18" style="padding-top:10px; padding-bottom:10px; padding-left:40px; color:#ffffff; font-size: 20px; font-family: Tahoma, 'Times New Roman', Times, serif")
										img(src="img/logo4.png" alt="logos" width="68" height="auto") 
						tr
							td(align="left" valign="middle")
						tr
